discord.py[voice]
discord
yt-dlp
ffmpeg
python-dotenv
asyncio
numpy
numexpr
webdriver_manager
deep-translator
google-search-results
praw
pillow
aiohttp
spotipy 
youtube-search-python
google-api-python-client
requests